
Image_Caption/annotations/captions_val2014.json
Image_Caption/annotations/captions_train2014.json
Image_Caption/annotations.csv
Image_Caption/annotations/instances_train2014.json
Image_Caption/annotations/instances_val2014.json
Image_Caption/annotations/person_keypoints_train2014.json
Image_Caption/annotations/person_keypoints_val2014.json
Image_Caption/captions.zip
Image_Caption/data.npy
Image_Caption/loverna-journey-1053456-unsplash.jpg
Image_Caption/train2014.zip
